@charset "utf-8";

/* 
 * 前端：肖玉航 
 * 产品：姚阳
 * 时间：2024.4.1
 */

@keyframes fadeInUp {
  0% {
    opacity: 0.5;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floatUpDown {
  0% {
    transform: translateY(-0.05rem);
  }
  50% {
    transform: translateY(0.05rem);
  }
  100% {
    transform: translateY(-0.05rem);
  }
}
@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@keyframes showCenterBook {
  0% {
    transform: scale(1);
  }
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes showCenterPage {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes showLeftPage {
  from {
    left: 1.4rem;
    transform: rotate(0);
  }
  to {
    left: .4rem;
    transform: rotate(-22.93deg);
  }
}
@keyframes showRightPage {
  from {
    right: 1.37rem;
    transform: rotate(0);
  }
  to {
    right: .37rem;
    transform: rotate(21.35deg);
  }
}
@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}