@charset "utf-8";
/* 格式化样式 */
*{margin:0;padding:0;}
body{font:14px/1.5 Microsoft YaHei,Arial,Helvetica,sans-serif;}
table{width:100%;border-collapse:collapse;border:none;border-spacing:0}
table td{word-break:break-word;word-break:break-all;}
a{text-decoration:none;}
img{border:none}
input{vertical-align:middle;outline:none;}
textarea{outline:none;}
ul,ol,dl{list-style:none;}
b,em,i,u,strong{font-style:normal;text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:14px;}
