/*节点名称字体*/
@font-face {
	font-family: FZZZHONGJW;
	src: url(../fonts/FZZZHONGJW.TTF);
}
/*起始气泡字体*/
@font-face {
	font-family: FZZCHJW;
	src: url(../fonts/FZZCHJW.TTF);
}
.zbg { background: url(../img/bg.jpg) center no-repeat fixed; background-size: 100% 100%;}
html,body,
.znodes,
.zpathMap { width: 100%; height: 100%; overflow: hidden; cursor: url(../img/openhand.cur) 8 8, move;}
/*.zloading { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; font-size: 24px; color: #fff;}*/

.studyPath_box { position: relative; width: 100%; height: 100%;}
.studyPath_scale { position: relative; height: 1800px;}
.znodes,
.zlines { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

.znodes-item { position: absolute; width: 180px; height:200px;}
.znodes-item dt { transform: translateY(-34px); text-align: center; font-size: 22px; font-family: FZZZHONGJW; color: #fff; }
.znodes-item dd img { width: 100%;}
.znodes-lock dt { font-size: 20px; color: rgba(148, 216, 255, 1); box-shadow: 0px 4px 4px 0px rgba(2, 0, 106, 0.5); box-shadow: 0px 4px 4px 0px rgba(2, 0, 106, 0.5);}
.znodes-start dt,
.znodes-end dt,
.znodes-current dt { transform: translateY(-26px);}


.zlines-item { position: absolute; width: 200px; height: 24px; text-align: center; border-radius: 4px; background: rgba(255, 255, 255, .3);}
.zlines-down { display: flex; align-items: center; width: 24px; height: 100px;}
.zlines-end { opacity: 0;}

.linksBtn {
	background: linear-gradient(90deg, rgba(1, 28, 159, .8) -25%, rgba(0, 87, 255, .8) 49.7%, rgba(1, 28, 155, .8) 125%);
    border: 1px solid #0051b6;
    color: #fff;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 4px;
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 666;
}
.linksBtn a { color: #fff;}
