.xbutton-box {
  padding: 0.2rem 1.6rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D9DBE0;
}
.xbutton-box__item {
  height: 0.6rem;
  display: flex;
  align-items: center;
}
.xbutton-box__item img {
  width: 0.32rem;
  height: 0.32rem;
}
.xbutton-box__item span {
  margin-left: 0.16rem;
  color: #1A88FB;
  font-size: 0.28rem;
}
.xdialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.xdialog .xdialog__mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1001;
}
.xdialog .xdialog__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 2.48rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
  z-index: 1002;
  box-sizing: border-box;
  padding: 0.2rem 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.xdialog .xbutton,
.xdialog .xticket-info {
  height: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.xdialog .xbutton {
  align-self: flex-end;
}
.xdialog .xbutton img {
  width: 0.28rem;
  height: 0.28rem;
}
.xdialog .xticket-info {
  width: 3.4rem;
  align-self: center;
  font-weight: 400;
  font-size: 0.28rem;
}
.xdialog .xticket-info .xticket-info__title {
  color: #606266;
}
.xdialog .xticket-info .xticket-info__quantity {
  font-size: 0.36rem;
  color: #ff0000;
}
.xdialog .xticket-info .xticket-info__unit {
  color: #909399;
}
.xdialog .xticket-info .xticket-info__tip {
  color: #0066cc;
  margin-left: 0.4rem;
}
