body {
  background-color: #F5F5F5;
}
.xwrapper {
  padding: 0 0.3rem;
}
.xheader {
  height: 0.88rem;
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 0.04rem 0.04rem rgba(0, 0, 0, 0.05);
}
.xheader .xheader__left,
.xheader .xheader__center,
.xheader .xheader__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.xheader .xheader__left,
.xheader .xheader__right {
  width: 1rem;
}
.xheader .xheader__left img,
.xheader .xheader__right img {
  height: 0.44rem;
  width: 0.44rem;
}
.xheader .xheader__center span {
  font-size: 0.32rem;
  color: #303133;
  font-weight: 500;
}
.xtitle {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.32rem;
  color: #303133;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.xtotal-price {
  height: 1.68rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303133;
}
.xtotal-price .xtotal-price__box {
  font-size: 0.1rem;
}
.xtotal-price .xtotal-price__box--unit {
  font-size: 0.32rem;
}
.xtotal-price .xtotal-price__box--price {
  font-size: 0.64rem;
}
.xdiscounts__coupon {
  height: 1.2rem;
  background-color: #FFFFFF;
  border-radius: 0.08rem;
  box-sizing: border-box;
  padding: 0.3rem 0.45rem 0.3rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.xdiscounts__coupon__title {
  font-size: 0.28rem;
  color: #303133;
}
.xdiscounts__coupon__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.xdiscounts__coupon__info .red {
  color: #ff0000;
}
.xdiscounts__coupon__info .orange {
  color: #F38816;
}
.xdiscounts__coupon__info .text {
  font-size: 0.24rem;
  color: #909399;
}
.xdiscounts__coupon__info .decrease {
  font-size: 0.28rem;
  color: #303133;
}
.xdiscounts__coupon__info .small {
  font-size: 0.25rem;
  transform: scale(0.8);
}
.xdiscounts__coupon__info img {
  margin-left: 0.31rem;
  width: 0.14rem;
  height: 0.25rem;
}
.xpay-method {
  margin-top: 0.4rem;
}
.xpay-method .xpay-method__box {
  border-radius: 0.08rem;
  background-color: #FFFFFF;
}
.xpay-method .xpay-method__box__item {
  position: relative;
  padding: 0 0.3rem;
}
.xpay-method .xpay-method__box__item:first-child label {
  border-bottom: 0.01rem solid #D9D9D9;
}
.xpay-method .xpay-method__box__item input {
  display: none;
}
.xpay-method .xpay-method__box__item img {
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  width: 0.6rem;
  height: 0.6rem;
}
.xpay-method .xpay-method__box__item label {
  position: relative;
  display: block;
  padding: 0.3rem 0.5rem 0.3rem 0.9rem;
  font-size: 0.32rem;
  line-height: 0.6rem;
  color: #303133;
  z-index: 9;
}
.xpay-method .xpay-method__box__item .check {
  position: absolute;
  right: 0.3rem;
  top: 0.35rem;
  border-radius: 50%;
  width: 0.48rem;
  height: 0.48rem;
  border: 0.02rem solid #D9DBE0;
}
.xpay-method .xpay-method__box__item input[type=radio]:checked ~ .check {
  background: url('../img/checked.png') no-repeat;
  background-size: 0.48rem 0.48rem;
}
.xconfirm-button {
  position: fixed;
  left: 0.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
  height: 0.8rem;
  background-color: #088EF9;
  border-radius: 0.08rem;
  font-size: 0.28rem;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.xdialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  display: none;
}
.xdialog {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.48rem;
  height: 1.2rem;
  padding: 0.5rem 0.81rem;
  background-color: rgba(255, 255, 255);
  border-radius: 0.08rem;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.xdialog .xdialog__text {
  font-size: 0.32rem;
  color: #303133;
}
.xdialog-coupon {
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  max-height: 9.86rem;
  padding: 0 0.4rem;
  background-color: #FFFFFF;
  border-radius: 0.16rem 0.16rem 0 0;
  transition: 0.5s linear;
}
.xdialog-coupon .xdialog-coupon__header {
  position: absolute;
  top: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.9rem;
  height: 0.1rem;
  border-radius: 0.05rem;
  background-color: #D9D9D9;
}
.xdialog-coupon .xdialog-coupon__title {
  height: 0.45rem;
  margin: 0.4rem 0 0.4rem;
  display: flex;
  align-items: center;
}
.xdialog-coupon .xdialog-coupon__title .title {
  font-size: 0.32rem;
  color: #303133;
  font-weight: 500;
}
.xdialog-coupon .xdialog-coupon__title .desc {
  font-size: 0.24rem;
  color: #909399;
  margin-left: 0.2rem;
}
.xdialog-coupon .xconfirm-button {
  position: static !important;
  margin: 0.4rem 0;
}
.xdialog-coupon .xdialog-coupon__box {
  max-height: 7.01rem;
  overflow-y: auto;
}
.xdialog-coupon .xdialog-coupon__box::-webkit-scrollbar {
  display: none;
}
.xdialog-coupon__box__item {
  width: 6.7rem;
  height: 2.07rem;
  margin-bottom: 0.4rem;
  background: url('../img/coupon_bg.png') no-repeat;
  background-size: 6.7rem 2.07rem;
}
.xdialog-coupon__box__item {
  display: flex;
  position: relative;
}
.xdialog-coupon__box__item .info {
  margin: 0.06rem 0 0 0.3rem;
  display: flex;
  flex-direction: column;
}
.xdialog-coupon__box__item .info .type,
.xdialog-coupon__box__item .info .title,
.xdialog-coupon__box__item .info .desc {
  margin-bottom: 0.1rem;
}
.xdialog-coupon__box__item .info .type,
.xdialog-coupon__box__item .info .desc {
  position: relative;
  left: -0.45rem;
}
.xdialog-coupon__box__item .info .type {
  font-size: 0.25rem;
  transform: scale(0.8);
  color: #D2394C;
}
.xdialog-coupon__box__item .info .title {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.32rem;
  font-weight: 600;
  color: #FFFFFF;
}
.xdialog-coupon__box__item .info .desc {
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.25rem;
  position: relative;
  transform: scale(0.8);
  color: rgba(255, 255, 255, 0.9);
}
.xdialog-coupon__box__item .price {
  padding: 0.68rem 0;
  width: 1.1rem;
  color: #D2394C;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: -0.1rem;
}
.xdialog-coupon__box__item .price .unit {
  font-size: 0.24rem;
  font-weight: 500;
  line-height: 0.55rem;
}
.xdialog-coupon__box__item .price .number {
  font-size: 0.6rem;
  font-weight: 600;
  line-height: 0.84rem;
}
.xdialog-coupon__box__item input {
  position: absolute;
  top: 0.24rem;
  right: 0.24rem;
  border-color: #BFBFBF;
}
