.xdiscounts-nav {
  width: 100%;
  height: 36px;
  border-left: 1px solid #DDDDDD;
  list-style: none;
}
.xdiscounts-nav .xdiscounts-nav__item {
  float: left;
  width: 120px;
  height: 100%;
  border: 1px solid #DDDDDD;
  border-style: solid solid none none;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #909399;
  cursor: pointer;
}
.xdiscounts-nav .xdiscounts-nav__item.active {
  color: #303133;
}
.xradio-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px 15px;
  border: 1px solid #DDDDDD;
}
.xradio-box__item {
  width: 407px;
  height: 127px;
  position: relative;
  margin: 10px 15px;
}
.xradio-box__item input {
  position: absolute;
  top: 16px;
  right: 16px;
}
.xradio-box__item img {
  width: 100%;
  height: 100%;
}
.xtip-no {
  width: 100%;
  color: #909399;
  font-size: 14px;
  text-align: center;
  margin: 30px 0;
}
