@charset "utf-8";/* 前端：肖玉航 */
#cover{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;visibility:hidden;opacity:0;transition:.3s}
#cover.show{visibility:visible;opacity:.3}
#cover.show,#picker{transition:.3s}
#picker{position:fixed;bottom:0;left:0;width:100%;border-radius:.2rem .2rem 0 0;background-color:#FFF;overflow:hidden;-webkit-transform:translateY(100%);transform:translateY(100%);}
#picker.show{-webkit-transform:translateY(0);transform:translateY(0)}
.picker-header{height:1rem;padding:0 .3rem;box-sizing:border-box;background-color:#F5F6F8;z-index:3;font-size:.32rem;display:flex;justify-content:space-between;align-items:center;}
.picker-header .title{color:#333;}
.picker-header .cancel,.picker-header .confirm{color:#3B8CFF;}
.picker-items{position:relative;height:5.28rem;overflow:hidden}
.picker-items-col{float:left;width:33.33%;height:100%;position:relative;z-index:10;}
.picker-item{height:.88rem;line-height:.88rem;padding:0 .1rem;box-sizing:border-box;left:0;color:#333;font-size:.34rem;width:100%;text-align:center;z-index:1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.picker-item.active{color:#3B8CFF;font-weight:bold;}
.picker-line{position:absolute;top:0;left:0;width:100%;height:2.2rem;z-index:10;background:-webkit-linear-gradient(top,#fff,hsla(0,0%,100%,.7));background:linear-gradient(top,#fff,hsla(0,0%,100%,.7));border-bottom:.01rem solid #ebebeb;pointer-events:none}
.picker-line-bottom{top:auto;bottom:0;border-top:.01rem solid #ebebeb;border-bottom:none;background:-webkit-linear-gradient(bottom,#fff,hsla(0,0%,100%,.7));background:linear-gradient(bottom,#fff,hsla(0,0%,100%,.7))}